.detail {
  flex-direction: column;
  width: 100%;
  .at-nav-bar__title {
    font-size: 32px;
  }
  .detail-box {
    width: calc(100% - 40px);
    padding: 20px;
    margin-top: 90px;
    .at-list__item-content,.at-list__item-extra {
      display: inline-block;
    }
    .at-list__item-content {
      width: calc(100% - 88px);
      margin-right: 12px;
    }
    .item-content__info {
      font-size: 36px!important;
      line-height: 1.2;
      font-weight: bold;
    }
    .at-list__item-extra {
      width: 60px;
      height: 96px;
    }
    .replies-list {
      width: 100%;
      position: relative;
      .at-list__item-thumb,.at-list__item-content,.at-list__item-extra {
        display: inline-block;
      }
      .at-list__item-thumb {
        width: 96px;
        height: 96px;
        margin-right: 12px;
        position: absolute;
        top: 40px;
        left: 20px;
      }
      .my-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      .at-list__item-content {
        padding-left: 96px;
        width: calc(100% - 96px - 128px);
        margin-right: 12px;
      }
      .item-content__info-title {
        height: 64px;
        font-size: 36px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
        font-weight: bold;
        white-space: nowrap;
      }
      .at-list__item-extra {
        width: 100px;
        height: 96px;
      }
    }
  }
}